In [1]:
import pandas as pd

In [13]:
df1 = pd.DataFrame({
    'city': ['New York', 'Chicago', 'Orlando', 'New Jersey'],
    'temperature':[21, 14, 35, 22],
})


df2 = pd.DataFrame({
    'city': ['New York', 'Chicago', 'Orlando'],
    'humidity':[65, 85, 75],
})

In [14]:
df1

         city  temperature
0    New York           21
1     Chicago           14
2     Orlando           35
3  New Jersey           22

In [15]:
df2

       city  humidity
0  New York        65
1   Chicago        85
2   Orlando        75

In [16]:
df3 = pd.merge(df1, df2, on = 'city')   # merge or join

In [17]:
df3

       city  temperature  humidity
0  New York           21        65
1   Chicago           14        85
2   Orlando           35        75

# Types of database join

<img src="https://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png" align=center>

In [19]:
df3 = pd.merge(df1, df2, on = 'city', how = 'outer')   # default inner join how = 'inner'

In [20]:
df3

         city  temperature  humidity
0    New York           21      65.0
1     Chicago           14      85.0
2     Orlando           35      75.0
3  New Jersey           22       NaN

In [21]:
df3 = pd.merge(df1, df2, on = 'city', how = 'left')   # default inner join how = 'inner'

In [22]:
df3

         city  temperature  humidity
0    New York           21      65.0
1     Chicago           14      85.0
2     Orlando           35      75.0
3  New Jersey           22       NaN

In [23]:
df3 = pd.merge(df1, df2, on = 'city', how = 'right')   # default inner join how = 'inner'

In [24]:
df3

       city  temperature  humidity
0  New York           21        65
1   Chicago           14        85
2   Orlando           35        75

# References:

* [Codebasics: Dhaval Patel](https://github.com/codebasics/py/blob/master/pandas/9_merge/pandas_merge.ipynb)